class AddAuthenticationMethodToUsers < ActiveRecord::Migration[8.1]
  def change
    add_column :users, :authentication_method, :string, null: false, default: "password"
    add_check_constraint :users, "authentication_method IN ('password', 'otp')", name: "users_authentication_method_check"

    reversible do |dir|
      dir.up do
        execute <<~SQL.squish
          UPDATE users SET authentication_method = 'password' WHERE authentication_method IS NULL
        SQL
      end
    end
  end
end
